$title:(
    title1: 3rem,
    title2: 2rem,
    paragraph: 1.1rem
);


$spacing: (
    p-l:50px,
    p-m:30px,
    p-s:10px,
    m-l:50px,
    m-m:30px,
    m-s:5px
);
$font-list: (
    persian: vazir fd,
    latin: Tahoma);




$dir: (
    persian: rtl,
    latin:ltr);



$dark-theme: (
    bg-color: #333,
    text-color: #f2f2f2,
    text-white:#fff
);
$light-theme: (
    bg-color: #a2a2a2,
    text-color:#444,
        text-white:#fff

    )